<% content_for :title do %>Stats<% end %>
<div class="gridster">
  <ul>
    <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="email-hours" data-view="Number" data-title="Email" data-moreinfo="Average hrs/day this week"></div>
    </li>
    <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="xcode-hours" data-view="Number" data-title="Xcode" data-moreinfo="Average hrs/day this week"></div>
    </li>
    <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="iterm-hours" data-view="Number" data-title="iTerm" data-moreinfo="Average hrs/day this week"></div>
    </li>
    <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="github-hours" data-view="Number" data-title="Github" data-moreinfo="Average hrs/day this week"></div>
    </li>
    <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="jira-hours" data-view="Number" data-title="JIRA" data-moreinfo="Average hrs/day this week"></div>
    </li>
    <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="confluence-hours" data-view="Number" data-title="Confluence" data-moreinfo="Average hrs/day this week"></div>
    </li>
    <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="drive-hours" data-view="Number" data-title="Google Drive" data-moreinfo="Average hrs/day this week"></div>
    </li>
    <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="other-hours" data-view="Number" data-title="Other" data-moreinfo="Average hrs/day this week"></div>
    </li>
    <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="total-hours" data-view="Number" data-title="Total" data-moreinfo="Average hrs/day this week"></div>
    </li>
  </ul>
</div>
